.circleRow {
    padding-top: 48px;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.inputForm {
    display: flex;
    justify-content: center;
}

.inputField {
    width: 377px;
}

.controlSet {
    display: flex;
    gap: 12px;
    max-width: 567px;
    border: none;
    padding: 0;
    justify-content: center;
}