.circleRow {
    padding-top: 120px;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.circleWrapper {
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
}

.smallTop {
    position: absolute;
    top: -68px;
    left: 12px;
}

.smallBottom {
    position: absolute;
    top: 112px;
    left: 12px;
}

.inputForm {
    margin: 0 auto;
    display: flex;
    gap: 12px;
    max-width: 567px;
}