.circleRow {
    padding-top: 120px;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.circleWrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.inputForm {
    margin: 0 auto;
    display: flex;
    gap: 12px;
    max-width: 567px;
}