.circleRow {
    width: max-content;
    margin: 0 auto;
    padding-top: 48px;
    display: flex;
    justify-content: start;
    column-gap: 16px;
    row-gap: 48px;
    max-width: 944px;
    flex-wrap: wrap;
}

.inputForm {
    margin: 0 auto;
    display: flex;
    gap: 12px;
    max-width: 567px;
}